<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{asset('assets/css/main.css') }}">
        <link rel="stylesheet" href="{{asset('assets/css/menu.css') }}">
        <link rel="stylesheet" href="{{asset('assets/css/footer.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <img src="{{asset('assets/images/logo.png') }}" alt="company logo">
            <ul>
                <li class="menu-item"><a href="{{ path('home') }}">Accueil</a></li>
                <li class="menu-item-sep"> | </li>
                <li class="menu-item"><a href="{{ path('home') }}">Contact</a></li>
                <li class="menu-item-sep"> | </li>
                <li class="menu-item"><a href="{{ path('home') }}">A propos</a></li>
            </ul>

            <div>    
                <input type="text" name="search" placeholder="Recherche">
                <img src="{{asset('assets/images/search.png') }}" alt="search icon">
            </div>
        </nav>
        {% block body %}{% endblock %}

        <footer>
            <p>
                Benjamin Edouard | Tous droits réservés 2023
            </p>
        </footer>
    </body>
</html>
